<extend name="Common:index"/>
<block name="main">
     <script src='__PUBLIC__/Admin/assets/js/My97DatePicker/4.72/WdatePicker.js'></script>
    <div class="main-content">
        <div class="breadcrumbs" id="breadcrumbs">
            <script type="text/javascript">
                try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
            </script>

            <ul class="breadcrumb">
                <li>
                    <i class="icon-home home-icon"></i>
                    <a href="#">主页</a>
                </li>

                <li>
                    <a href="#">学校门户信息</a>
                </li>
                <li class="active">发布内容</li>
            </ul><!-- .breadcrumb -->

            <div class="nav-search" id="nav-search">
                <form class="form-search">
                    <span class="input-icon">
                        <input type="text" placeholder="Search ..." name="username" class="nav-search-input" id="nav-search-input" autocomplete="off" />
                        <input type="submit" class="btn btn-primary btn-xs" value="搜索" style="border-radius:3px; height:28px; margin-top:-4px; padding-right:24px;">
                        <i class="icon-search nav-search-icon"></i>
                    </span>
                </form>
            </div><!-- #nav-search -->
        </div>

        <div class="page-content">
            <div class="page-header">
                <h1>
                    学校门户信息
                    <small>
                        <i class="icon-double-angle-right"></i>
                        信息管理
                        <i class="icon-double-angle-right"></i>
                        发布内容
                    </small>
                </h1>
            </div><!-- /.page-header -->

            <div class="row">
                <div class="col-xs-12">
                    <!-- PAGE CONTENT BEGINS -->
                    <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                        <tr>
                            <td style="text-align:right;" class="col-md-2">标题：</td>
                            <td >
                                <input type="text" id="title" class="col-md-6" value="{$data.title}">
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align:right;">时间：</td>
                            <td>
                                <input  type="text" style="width:120px" class="form-control input-sm add_time" onClick="WdatePicker()" value="{$data.add_time}"/>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align:right;" class="col-md-2">排序：</td>
                            <td >
                                <select name="ordernum" id="ordernum">
                                    <option value="{$data.ordernum}">{$data.ordernum}</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                </select>
                            </td>
                        </tr>
                        <input type="hidden" id="id" value="{$data.id}"/>
                        <tr>
                            <td colspan="2">
                                <form action="Index/add" method="post">
                                    <script id="container" name="content" type="text/plain" style="margin:0 auto;width:800px;height:500px">{$data.content_info}</script>
                                    <input type="hidden" id="url" value="<?php echo $_SERVER['HTTP_HOST'] ?>"/>
                                </form>
                            </td>
                        </tr>
                    </table>
                    <button class="btn btn-info" type="button"  id="school_news_edit">保存</button>
                </div><!-- /.col -->
            </div><!-- /.row -->

        </div><!-- /.page-content -->
        <script src="__PUBLIC__/Admin/js/jquery-1.8.3.min.js"></script>
        <script type="text/javascript" src="__PUBLIC__/Home/js/ueditor.config.js"></script>
        <!-- 编辑器源码文件 -->
        <script type="text/javascript" src="__PUBLIC__/Home/js/ueditor.all.js"></script>
        <script type="text/javascript" src="http://cdn.hcharts.cn/jquery/jquery-1.8.3.min.js"></script>
        <!-- 实例化编辑器 -->
        <script type="text/javascript">
            var ue = UE.getEditor('container');
            $('#school_news_edit').click(function(){
                var id = $('#id').val();
                var title = $('#title').val();
                var ordernum = $('#ordernum').val();
                var add_time = $('.add_time').val();
                var html = UE.getEditor('container').getContent();
                var url = $('#url').val();
                $.ajax({
                    url:"http://"+url+"/index.php/Comment/school_news_edit",
                    type:'POST',
                    data:{id:id,content_info:html,title:title,ordernum:ordernum,add_time:add_time},
                    dataType:'json',
                    success:function(data){
                        if(data[0].success == true){
                            alert(data[0].msg);
                            window.location.href = document.referrer;
                        }else{
                            alert(data[0].msg);
                        }
                    }
                })
            })
            $().ready(function(){

                var nav_name = $('.nav_show').val();
                if(nav_name == 'Center'){
                    $('ul[name=nav_0]').css('display','block');
                    $('ul[name=nav_0]').css('overflow','hidden');

                }
                if(nav_name == 'User'){
                    $('ul[name=nav_1]').css('display','block');
                    $('ul[name=nav_1]').css('overflow','hidden');

                }
                if(nav_name == 'School'){
                    $('ul[name=nav_2]').css('display','block');
                    $('ul[name=nav_2]').css('overflow','hidden');
                }
                if(nav_name == 'Rule'){
                    $('ul[name=nav_3]').css('display','block');
                    $('ul[name=nav_3]').css('overflow','hidden');
                }
                if(nav_name == 'Group'){
                    $('ul[name=nav_4]').css('display','block');
                    $('ul[name=nav_4]').css('overflow','hidden');
                }
                if(nav_name == 'Area'){
                    $('ul[name=nav_5]').css('display','block');
                    $('ul[name=nav_5]').css('overflow','hidden');
                }
                if(nav_name == 'Info'){
                    $('ul[name=nav_6]').css('display','block');
                    $('ul[name=nav_6]').css('overflow','hidden');
                }
                if(nav_name == 'Office'){
                    $('ul[name=nav_7]').css('display','block');
                    $('ul[name=nav_7]').css('overflow','hidden');
                }


            });
        </script>

    </div>
    <!-- /.main-content -->
</block>



