<extend name="Common:index"/>
<block name="main">
    <div class="main-content">
        <style>
            #pages a,#pages span{

                float: left;
                color: #337AB7;
                padding: 6px 12px;
                margin-left: -1px;
                position: relative;
                line-height: 1.42857;
                text-decoration: none;
                background-color: #FFF;
                border: 1px solid #DDD;
            }

            #pages span{  color: #fff;  z-index: 2;  cursor:pointer;  border-color: #337ab7;  background-color: #337ab7;  }
            .growInfo{  float:left;  width:250px;  height:64px;  border-radius:5px;  margin-right: 20px;  padding:5px;  border:3px solid #00b7ee;  }
            .model-ul{  width:220px;height:660px;float:left;border-radius:8px;  background: #ddd;  }
            .model-ul ul{  margin:0;  list-style:none;  text-decoration:none;  }
            .model-ul ul li{
                width: 220px;
                margin-top:10px;
                size:18px;
                padding-left:10px;
                padding-right: 20px;
                padding-top:5px;
                padding-bottom: 5px;
                text-align: center;
            }
            .model-ul ul li:hover{
                /*padding-top:5px;*/
                /*padding-bottom: 5px;*/
                background: #fff;
                cursor: pointer;
            }
            .model-table{  margin-left: 10px;  float: left;  width: 800px;  height: 660px;  border: 1px solid #ddd;  border-radius:10px;overflow: auto  }
            .model-table-tr th{
                text-align: center;
            }
            .model-addinfos{
                width: 800px;display:none;
                padding-right: 100px;
                padding-left:10px;
                margin-bottom: 50px;
            }
            .model-select{
                margin: 5px;
                float: left;
                margin-right: 10px;
            }
            .model-adddiv{
                width:690px;
                height:200px;
                border:1px solid #ccc;
                margin-top:45px;
            }
            .model-adddiv ul{
                padding-left:10px;
                margin: 0 0;
            }
            .model-adddiv ul li{
                list-style:none;  text-decoration:none; float: left;
                line-height: 25px;
                width:70px
            }
            .model-addbtn{
                display:none;
                padding:5px;
                padding-right: 15px;
                height:40px;
            }

        </style>
        <div class="breadcrumbs" id="breadcrumbs">
            <script type="text/javascript">
                try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
            </script>
            <ul class="breadcrumb">
                <li>
                    <i class="icon-home home-icon"></i>
                    <a href="#">主页</a>
                </li>

                <li>
                    <a href="{:U('Grow/index')}">成长档案</a>
                </li>
                <li class="active">成长记录</li>
            </ul><!-- .breadcrumb -->
        </div>
        <div class="page-content">
            <div class="row">
                <div class="col-xs-12">
                    <!-- PAGE CONTENT BEGINS -->
                    <div>
                        <div class="model-ul" >
                            <ul>
                                <volist id="info" name="info">
                                    <li id="{$info.id}" class="getGrowinfos">{$info.title}</li>
                                </volist>
                            </ul>
                        </div>
                        <div class="model-table">
                            <div class="model-addinfos">
                                <label for="">选择人员</label>
                                <button type="button" class="btn btn-warning btn-xs pull-right model-closemodel" style="margin-top:5px">关闭</button>
                                <div style="border:1px solid #fff">
                                    <div class="model-select">
                                        <select class="form-control chosegrade">
                                            <option value="">选择年级</option>
                                            <option value="01">初 一</option>
                                            <option value="02">初 二</option>
                                            <option value="03">初 三</option>
                                        </select>
                                    </div>
                                    <div class="model-select">
                                        <select class="form-control choseclass">
                                            <option>请选择</option>
                                        </select>
                                    </div>
                                    <input type="hidden" class="model-pid">
                                    <div class="model-adddiv">
                                        <ul>

                                        </ul>
                                    </div>
                                </div>

                                <div class="model-displayall">

                                </div>
                            </div>
                            <div class="model-addbtn">
                                <button type="button" class="btn btn-info btn-group btn-xs pull-right">添加</button>
                            </div>
                            <table class="table table-bordered">
                                <tr class="model-table-tr">

                                </tr>
                                <tbody class="model-table-td">

                                </tbody>
                            </table>
                        </div>
                        <!--<img src="__PUBLIC__/Admin/assets/images/addgroup.png" alt="" class="add_grow" title="添加模块" style="cursor: pointer;float:left">-->
                    </div>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.page-content -->
    </div><!-- /.main-content -->

    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" id="addGrowmodel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <form action="addNewGrow" method="post">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">添加新模块</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="addtitle">模块名:</label>
                            <input type="text" name="title" class="form-control" id="addtitle" placeholder="">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-xs" data-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-primary btn-xs">保存</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        $('.add_grow').click(function () {
            $('#addGrowmodel').modal('show');
        });
        var url = $('#oa_url').val();
        $('.getGrowinfos').click(function () {
            var id = $(this).attr('id');
            $('.model-addbtn').show();
            $.ajax({
                url:"http://"+url+"/index.php/Comment/getGrowinfos",
                type:'POST',
                data:{id:id},
                dataType:'json',
                success: function(data){
                    if(data[0].success == true)
                    {
                        $('.model-table-tr').html('');
                        $('.model-table-td').html('');
                        $('.getGrowinfos').css('background','#ddd');
                        $('#'+id).css('background','#fff');
                        $('.model-pid').val(id);
                        $('.model-displayall').html('');
                        $('.model-table-tr').append("<th>学生</th>");
                        $(data[0].data).each(function () {
                            var th = "<th>"+this+"</th>";
                            $('.model-table-tr').append(th);
                            var form = "<div class='form-group'> <label for='test'>"+this+"</label><input type='text' id='test' class='form-control model-input'></div>"
                            $('.model-displayall').append(form);
                        });
                        $('.model-table-tr').append("<th>上报人</th>");
                        $('.model-table-tr').append("<th>审核人</th>");
                        $('.model-table-tr').append("<th>操作</th>");
                        $('.model-displayall').append("<button class='pull-right btn btn-info btn-xs model-growAdd'>提交</button>");
                        for(var i=0;i<data[0].info.length;i++)
                        {
                            var td='';
                            for(var j=0;j<JSONLength(data[0].info[i])-2;j++)
                            {
                                var val = data[0].info[i][j];
                                if(val == null)
                                {
                                    val ='';
                                }
                                td += "<td class='center'>"+val+"</td>";
                            }
                            if(data[0].info[i].state == 0)
                            {
                                var btn ="<td class='center "+data[0].info[i].id+"_id' id="+data[0].info[i].id+"><button type='button' class='btn btn-info btn-xs growInto'>通过</button>&nbsp;<button type='button' class='btn btn-warning btn-xs growOut'>不通过</button></td>";

                                td += btn;
                            }else{
                                td += "<td class='center'>已通过</td>";
                            }
                            $('.table-bordered').append("<tr class='model-table-td'>"+td+"</tr>");
                        }
                    }
                }
            })
        });
        function JSONLength(obj) {
            var size = 0, key;
            for (key in obj) {
                if (obj.hasOwnProperty(key)) size++;
            }
            return size;
        };
        $('.chosegrade').change(function () {
            var tips = $(this).val();
            $.ajax({
                url:"http://"+url+"/index.php/Comment/chosegrade",
                type:'POST',
                data:{tips:tips},
                dataType:'json',
                success: function(data){
                    if(data[0].success == true)
                    {
                        $('.choseclass').html("<option>请选择</option>");
                        $(data[0].data).each(function () {
                            var option = "<option value="+this.class_bh+">"+this.class_name+"</option>";
                            $('.choseclass').append(option);
                        })
                    }
                }
            })
        });
        $('.choseclass').change(function () {
            var tips = $(this).val();
            $.ajax({
                url:"http://"+url+"/index.php/Comment/choseclass",
                type:'POST',
                data:{tips:tips},
                dataType:'json',
                success: function(data){
                    if(data[0].success == true)
                    {
                        $('.model-check').each(function () {
                            if(this.checked == false)
                            {
                                $(this).parent().remove();
                            }
                        });
                        var li = '';
                        $(data[0].data).each(function () {
                            li += "<li><input type='checkbox' class='model-check' value="+this.rec_id+">"+this.stu_name+"</li>";
                        });
                        $('.model-adddiv ul').append(li);

                    }
                }
            })
        });
        $(document).on('click','.model-growAdd',function () {
            var pid = $('.model-pid').val();
            var uid = '';
            $('.model-check').each(function () {
                if(this.checked == true)
                {
                    uid += $(this).val()+'|';
                }
            });
            if(uid.length == 0){
                alert('请选择人员');
                return false;
            }
            var info = '';
            $('.model-input').each(function () {
                    info += $(this).val()+'|';
            });
            $.ajax({
                url:"http://"+url+"/index.php/Comment/growAddInfo",
                type:'POST',
                data:{uid:uid,info:info,pid:pid},
                dataType:'json',
                success: function(data){
                    if(data[0].success == true)
                    {
                        $('.model-addinfos').hide();
                        $('.model-addbtn').show();
                        alert('添加成功');
                    }else{
                        alert('添加失败');
                    }

                }
            })
        });
        $(document).on('click','.model-addbtn',function () {
            $(this).hide();
            $('.model-addinfos').show();
        });
        $('.model-closemodel').click(function () {
            $('.model-addinfos').hide();
            $('.model-addbtn').show();
        });
        $(document).on('click','.growInto',function () {  //审核通过
            var val = 'growInto';
            var id = $(this).parent().attr('id');
            $.ajax({
                url:"http://"+url+"/index.php/Grow/setGrowinfo",
                type:'POST',
                data:{val:val,id:id},
                dataType:'json',
                success: function(data){
                    if(data[0].success == true)
                    {
                        $("."+id+"_id").html('已通过');
                        $("."+id+"_id").prev().html(data[0].data);
                    }else{
                        alert('网络繁忙,请稍后再试');
                    }

                }
            })
        });
        $(document).on('click','.growOut',function () {  //审核不通过 直接删除
            var val = 'growOut';
            var id = $(this).parent().attr('id');
            $.ajax({
                url:"http://"+url+"/index.php/Grow/setGrowinfo",
                type:'POST',
                data:{val:val,id:id},
                dataType:'json',
                success: function(data){
                    if(data[0].success == true)
                    {
                        $("."+id+"_id").parent().remove();
                    }else{
                        alert('网络繁忙,请稍后再试');
                    }
                }
            })
        })
    </script>
</block>
