<extend name="Common:index"/>
<block name="main">
    <style>
        #pages a,#pages span{

            float: left;
            color: #337AB7;
            padding: 6px 12px;
            margin-left: -1px;
            position: relative;
            line-height: 1.42857;
            text-decoration: none;
            background-color: #FFF;
            border: 1px solid #DDD;
        }

        #pages span{
            color: #fff;
            z-index: 2;
            cursor:pointer;
            border-color: #337ab7;
            background-color: #337ab7;
        }
    </style>
    <div class="main-content">
        <div class="breadcrumbs" id="breadcrumbs">
            <script type="text/javascript">
                try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
            </script>
            <ul class="breadcrumb">
                <li>
                    <i class="icon-home home-icon"></i>
                    <a href="#">主页</a>
                </li>
                <li>
                    <a href="#">班级管理</a>
                </li>
                <li class="active">班级列表</li>
            </ul><!-- .breadcrumb -->


        </div>
        <div class="page-content" style="margin-left:20px;width:1000px;">
            <div class="page-header">
                <h1>
                    班级管理
                    <small>
                        <i class="icon-double-angle-right"></i>
                        班级列表
                    </small>
                </h1>
            </div><!-- /.page-header -->
            <div class="row">
                <div class="col-xs-12">
                    <!-- PAGE CONTENT BEGINS -->
                    <div class="row">
                        <div class="col-xs-12">
                            <button type="button" class="btn btn-primary btn-xs pull-right" data-toggle="modal" data-target=".bs-example-modal-lg">添加班级</button>

                            <div class="table-responsive">
                                <form action="" method="post">
                                    <table id="sample-table-1" class="table table-striped table-bordered table-hover" style="text-align:center;">
                                        <thead>
                                        <tr>
                                            <th class="center">班级名称</th>
                                            <th class="center">班级编号</th>
                                            <th class="center">入学年份</th>
                                            <th class="center">操作</th>
                                        </thead>
                                        <tbody>
                                        <volist name="data" id="vo">
                                            <tr>
                                                <th class="center">{$vo.class_name}</th>
                                                <th class="center">{$vo.class_bh}</th>
                                                <th class="center">{$vo.class_inyear}</th>

                                                <td>
                                                    <div class="center" class="visible-md visible-lg hidden-sm hidden-xs btn-group">
                                                        <!-- 学校包含班级弹框  -->
                                                        <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target=".bs-example-modal-2g" id="{$vo.rec_id}" name="class_find_update">修改</button>
                                                        <button type="button" class="btn btn-warning btn-xs" id="{$vo.rec_id}"  name="class_del_id">删除</button>
                                                    </div>
                                                    <div class="visible-xs visible-sm hidden-md hidden-lg">
                                                        <div class="inline position-relative">
                                                            <button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown">
                                                                <i class="icon-cog icon-only bigger-110"></i>
                                                            </button>

                                                            <ul class="dropdown-menu dropdown-only-icon dropdown-yellow pull-right dropdown-caret dropdown-close">
                                                                <li>
                                                                    <a href="#" class="tooltip-info" data-rel="tooltip" title="View">
                                                                    <span class="blue">
                                                                        <i class="icon-zoom-in bigger-120"></i>
                                                                    </span>
                                                                    </a>
                                                                </li>

                                                                <li>
                                                                    <a href="#" class="tooltip-success" data-rel="tooltip" title="Edit">
                                                                    <span class="green">
                                                                        <i class="icon-edit bigger-120"></i>
                                                                    </span>
                                                                    </a>
                                                                </li>

                                                                <li>
                                                                    <a href="#" class="tooltip-error" data-rel="tooltip" title="Delete">
                                                                    <span class="red">
                                                                        <i class="icon-trash bigger-120"></i>
                                                                    </span>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </volist>
                                        <tr>
                                            <td colspan="10" id="pages"><div class="row"><div class="col-md-5"></div>{$page}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </form>
                                <input type="hidden" id="url" value="<?php echo $_SERVER['HTTP_HOST'] ?>"/>
                            </div><!-- /.table-responsive -->
                        </div><!-- /span -->
                    </div><!-- /row -->
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.page-content -->
    </div><!-- /.main-content -->

    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="area_add">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" id="area_add1">
                <div class="admin-sch-add-sch">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h1>添加班级</h1><br/>
                    <div style="float:right;display:block;position: absolute;left: 250px;top: 150px;display:none" id="lon" >
                        <center><img src="__PUBLIC__/Admin/images/lon.gif" alt="" width="60px" height="60px"  /></center>
                    </div>
                    <form>
                        <div class="form-group">
                            <label >班级名称</label><br/><br/>
                            <input type="text" class="form-control" name="class_name" placeholder="">
                        </div>

                            <select class="form-control-sm" name="class_inyear">
                                <option value="<?php echo $year-4  ?>"><?php echo $year-4  ?></option>
                                <option value="<?php echo $year-3  ?>"><?php echo $year-3  ?></option>
                                <option value="<?php echo $year-2  ?>"><?php echo $year-2  ?></option>
                                <option value="<?php echo $year-1  ?>"><?php echo $year-1  ?></option>
                                <option value="<?php echo $year  ?>"><?php echo $year  ?></option>
                                <option value="<?php echo $year+1  ?>"><?php echo $year+1  ?></option>
                            </select>
                            <label >届</label>
                        &nbsp;&nbsp;
                            <select class="form-control-sm" name="class_type_bh">
                                <option value="01">1</option>
                                <option value="02">2</option>
                                <option value="03">3</option>
                                <option value="04">4</option>
                                <option value="05">5</option>
                                <option value="06">6</option>
                                <option value="07">7</option>
                                <option value="08">8</option>
                                <option value="09">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                            </select>
                            <label >年级</label>

                        <br/>
                        <br/>
                        <button type="button" class="btn btn-default" id="class_button" style="margin-left:400px;margin-top:30px">添加</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade bs-example-modal-2g" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="admin-sch-add-sch">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h1>修改班级信息</h1><br/> <br/> <br/>
                    <form>
                        <div class="form-group">
                            <label >班级名称</label><br/>
                            <input type="text" class="form-control" placeholder="" name="class_name1">
                            <input type="hidden" class="add_ocode" value="{$ocode}">
                        </div>
                        <br>
                        年级:
                        <select name="class_type_bh1" id="">
                            <option value="01">1</option>
                            <option value="02">2</option>
                            <option value="03">3</option>
                            <option value="04">4</option>
                            <option value="05">5</option>
                            <option value="06">6</option>
                        </select>
                        <input type="hidden" name="rec_id"/>
                        <br/>
                        <button type="button" class="btn btn-default" id="class_update_button" style="margin-left:400px;margin-top:40px">修改</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</block>

