<extend name="Common:index"/>
<block name="main">
    <div class="main-content">
        <style>
            #pages a,#pages span{

                float: left;
                color: #337AB7;
                padding: 6px 12px;
                margin-left: -1px;
                position: relative;
                line-height: 1.42857;
                text-decoration: none;
                background-color: #FFF;
                border: 1px solid #DDD;
            }

            #pages span{
                color: #fff;
                z-index: 2;
                cursor:pointer;
                border-color: #337ab7;
                background-color: #337ab7;
            }
        </style>
        <div class="breadcrumbs" id="breadcrumbs">
            <script type="text/javascript">
                try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
            </script>

            <ul class="breadcrumb">
                <li>
                    <i class="icon-home home-icon"></i>
                    <a href="#">主页</a>
                </li>

                <li>
                    <a href="#">OA管理</a>
                </li>
                <li class="active">校内通知管理</li>
            </ul><!-- .breadcrumb -->

            <div class="nav-search" id="nav-search">
                <form class="form-search" action="{:U('Admin/Office/make_notice')}" method="get">
                    <span>
                        <label>
                            <select name="num" aria-controls="dataTables-example" class="form-control input-sm">
                                <option value="5" <if condition="$num eq 5">selected</if>>5</option>
                                <option value="10" <if condition="$num eq 10">selected</if>>10</option>
                                <option value="20" <if condition="$num eq 20">selected</if>>20</option>
                                <option value="30" <if condition="$num eq 30">selected</if>>30</option>
                            </select>
                        </label>
                    </span>
                    <span class="input-icon">
                        <input type="text" placeholder="Search ..." name="keyword" class="nav-search-input" id="nav-search-input" autocomplete="off" value="{$keyword}"/>
                        <input type="submit" class="btn btn-primary btn-xs" value="搜索" style="border-radius:3px; height:28px; margin-top:-4px; padding-right:24px;">
                        <i class="icon-search nav-search-icon"></i>
                    </span>
                </form>
            </div><!-- #nav-search -->
        </div>

        <div class="page-content">
            <div class="page-header">
                <h1>
                    OA管理
                    <small>
                        <i class="icon-double-angle-right"></i>
                        校内通知管理
                    </small>
                </h1>
            </div><!-- /.page-header -->

            <div class="row">

                <div class="col-xs-12">
                    <!-- PAGE CONTENT BEGINS -->
                    <a href="{:U('Office/notice')}"> <button class="btn btn-primary btn-xs" style="margin-bottom:5px;">最新通知</button> </a>
                   <!--  <a href="{:U('Office/notice_all')}"> <button class="btn btn-primary btn-xs" style="margin-bottom:5px;">浏览全部</button> </a> -->
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="table-responsive">
                                <form action="" method="post">
                                    <table id="sample-table-1" class="table table-striped table-bordered table-hover" style="text-align:center;">
                                        <thead>
                                        <tr>
                                            <th class="center col-lg-6">标题</th>
                                            <th class="center">发布日期</th>
                                            <th class="center">阅读</th>
                                            <th class="center">操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <volist name="notice" id="notice">
                                            <tr>
                                                <td data-toggle="modal">{$notice.title}</td>
                                                <td class="center">{$notice.do_time}</td>
                                                <td class="center">{$notice.allnum}</td>
                                                <td>
                                                    <button type="button" class="btn btn-warning btn-xs" name="make_notice_id2" id="{$notice.id}">删除</button>
                                                    <a href="{:U('Office/write_notice',array('id'=>$notice['id']))}"><button type="button" class="btn btn-primary btn-xs">修改</button></a>
                                                </td>
                                            </tr>
                                        </volist>
                                        <tr>
                                            <td colspan="5" id="pages"><div class="row"><div class="col-md-5"></div>{$page}</td>
                                        </tr>
                                        </tbody>
                                    </table>

                                </form>
                            </div><!-- /.table-responsive -->
                        </div><!-- /span -->
                    </div><!-- /row -->
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.page-content -->
    </div><!-- /.main-content -->
    <input type="hidden" class="public" value='__PUBLIC__'/>
    <input type="hidden" id="url" value="<?php echo $_SERVER['HTTP_HOST'] ?>"/>

    <div class="modal fade bs-example-modal-sm1" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm" style="width:800px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">通知内容</h4>
                </div>
                <div style="padding-left:20px;padding-right:20px;padding-bottom:20px;">
                    <h5 class="center" id="title_get"></h5>
                    <hr/>
                    <div class="content_get"></div>

                    <div style="width:700px;height:60px;border:1px solid #2b7dbc;margin:20px;padding: 10px;">
                        附件: <br/>
                        <div class="file_get" style="margin-left:30px;">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</block>